.navbar-brand,
.nav-Link {
  text-decoration: none;
  margin-right: 40px;
  color: #FF006E;

}
/* Styles for the main div with class "App" */
.App {
  background-color:#83C5BE; /* Replace with your desired background color */
  padding: 20px; /* Example padding for the main div */
}

/* Styles for the NavbarPage component with class "navbar" */
.navbar {
  background-color: #FFBE0B; /* Replace with your desired navbar background color */
  color: white; /* Replace with your desired navbar text color */
  padding: 10px; /* Example padding for the navbar */
  height: 15px;
  list-style: inside;
  
}

/* Styles for the components rendered in Routes */
.homepage {
  /* Add styles specific to HomePage component */
}

.productpage {
  /* Add styles specific to Product component */
}

.cartpage {
  /* Add styles specific to CartPage component */
}

.dropdown-item {
  text-decoration: none;
  color: white;
}
.overflow-hidden {
  max-height: 30vh;
}
img {
  border-radius: 9px;
}
.btn {
  border-radius: "20px";
  width: 150px;
  text-align: center;
  margin-bottom: 10px;
  margin-left: 70px;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-radius: 5px;
}
.cart-button {
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  margin: 14px;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}
.plus {
  background-color: #5cb85c;
}

.minus {
  background-color: #d9534f;
}

.cart-button:hover {
  transform: scale(1.1);
}
.quantity {
  font-size: 18px;
  color: #333;
  font-weight: bold;
}

.remove-from-cart {
  background-color: transparent;
  border: none;
  outline: none;
  color: #1a1919;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.remove-from-cart:hover {
  text-decoration: underline;
}
.cart-image {
  margin-top: 80px;
  margin-left: 500px;
  height: 300px;
  width: 600px;
}
.image-text {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imagetext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 2rem;
}

.image-container {
  flex: 1;
}

.image {
  width: 100%;
  max-height: 100%;
  height: 90%;
  object-fit: cover;
}

.text-container {
  flex: 1;
  padding-left: 3rem;
}

.text-overlay {
  text-align: left;
  color: black;
}

.text-overlay h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text-overlay p {
  font-size: 1.5rem;
}
h1 {
  position: relative;
  color: hsl(0, 0%, 0%);
  font-weight: bold!important;
  font-family: "Anonymous Pro", monospace!important;
  letter-spacing: 0px!important;
  overflow: hidden;
  border-right: 2px solid hsl(0, 0%, 80%);
  white-space: nowrap;
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms infinite;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 710px;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: hsl(0, 100%, 50%);
  }
  to {
    border-right-color: transparent;
  }
}
p {
  padding: 64px;
  background: linear-gradient(to right, hsl(0, 0%, 0%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 0%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}